@import "normalize.css";
@import "./modules/_container.css";

* {
    box-sizing: border-box;
}

a,
a {
    text-decoration: none;
    color: inherit;
}

.nav {
    float: right;
}

.nav li{
    display: inline-block;
    margin-right: 1.5em;
}

.user-links {
    float: right;
}

